<article class="article">
  <header class="article-header">
    <p class="h4">Описание</p>
  </header>
  <section class="article-body">
    <p>Кресло Ханна — элегантное решение для кухни или столовой,выдержанной в современном
      стиле. Каркас модели выполнен из массива древесины, видимые элементы отделаны
      березовым шпоном и покрыты белой эмалью. Велюровая обивка приятна на ощупь, долго
      сохраняет опрятный вид и первоначальный цвет. Мягкое сиденье обеспечивает комфорт
      во время длительной трапезы или дружеской беседы за столом. Высокая спинка с легким
      изгибом позволяет принять удобное положение, расслабив спину.</p>
  </section>
</article>
