<div class="article vcard">
  <header class="article-header">
    <h4 class="h4 title">Адрес доставки</h4>
  </header>
  <section class="article-body adr">
    <p class="locality">Севастополь,
      <span class="street-address">Победы пр-кт, д. 2А</span>
    </p>
    <p class="country-name">Россия</p>
  </section>
</div>
<div class="article vcard">
  <header class="article-header">
    <h4 class="h4 title">Получатель</h4>
  </header>
  <section class="article-body">
    <h5 class="h5">
      <span class="fn">Иван Иванов</span>
    </h5>
    <p class="email">
      <a class="fn url" href="mailto:ivanov@gmail.com" rel="me">
        <span class="value">ivanov@gmail.com</span>
      </a>
    </p>
    <p class="tel">
      <a class="fn url" href="tel:+7(978) 123-45-67" rel="me">
        <span class="value">+7(978) 123-45-67</span>
      </a>
    </p>
  </section>
</div>
