.checkout-order
    form
        fieldset
            h2.h2 Оформление заказа
            p Адрес доставки
            ul.checkout-order__address
                li.checkout-order__item
                    .input-box
                        input.input(type="text")
                        label.input-label(for='') Город, улица, номер дома*
                        .helper-box
                            span.txt-error Пожалуйста заполните поле
                li.checkout-order__item
                    ul.flex-inline
                        li.input-box
                            input.input.input-sm(type="text")
                            label.input-label(for='') Кв/офис
                            .helper-box
                                span.txt-error Пожалуйста заполните поле
                        li.input-box
                            input.input.input-sm(type="text")
                            label.input-label(for='') Этаж
                            .helper-box
                                span.txt-error Пожалуйста заполните поле
                        li.input-box
                            input.input.input-sm(type="text")
                            label.input-label(for='') Подъезд
                            .helper-box
                                span.txt-error Пожалуйста заполните поле
                li.checkout-order__item
                    .input-box
                        textarea.input(name="", cols="10", rows="4")
                        label.input-label(for='') Комментарий к заказу
                        .helper-box
                            span.txt-error Пожалуйста заполните поле
            p Получатель
            ul.checkout-order__receiver
                li.checkout-order__item
                    .input-box
                        input.input(type="text")
                        label.input-label(for='') Имя*
                        .helper-box
                            span.txt-error Пожалуйста заполните поле
                li.checkout-order__item
                    .input-box
                        input.input(type="text")
                        label.input-label(for='') Фамилия*
                        .helper-box
                            span.txt-error Пожалуйста заполните поле
                li.checkout-order__item
                    .input-box
                        input.input(type="email")
                        label.input-label(for='') Электронная почта*
                        .helper-box
                            span.txt-error Пожалуйста заполните поле
                li.checkout-order__item
                    .input-box
                        input.input(type="tel")
                        label.input-label(for='') Номер телефона*
                        .helper-box
                            span.txt-error Пожалуйста заполните поле
            button.btn-default.btn-block Оформить заказ