.logo
    a.logo-link(href="index.html" target='_blank' title='12 стульев')
        img.logo-pic(src="assets/img/logo/logo_white.png", alt="12 стульев")
        ul.logo-header
            li.logo-title 12 стульев
            li.logo-descriprion Утром деньги, вечером стулья