.detail-status-order
    h2.h2 Проверить статус заказа
    .container
        .order-status-detail__header
            .order-status-detail__info
                h3.h3 Заказ
                    span ARU04889781
                p.date Дата заказа:
                    time.time(datetime="7 февраля 2019") 7 февраля 2019
            a.order-status-detail__link(href="order-status.html") Проверить другой заказ
        .order-status-detail__body
            include ../progress-road/progress-road
            include ../cart/cart-detail-order
        .order-status-detail__footer
            .article.vcard
                header.article-header
                    h4.h4.title Адрес доставки
                section.article-body.adr
                    p.locality Севастополь,
                        span.street-address Победы пр-кт, д. 2А
                    p.country-name Россия
            .article.vcard
                header.article-header
                    h4.h4.title Получатель
                section.article-body
                    h5.h5 
                        span.fn Иван Иванов
                    p.email
                        a.fn.url(href="mailto:ivanov@gmail.com" rel="me")
                            span.value ivanov@gmail.com
                    p.tel
                        a.fn.url(href="tel:+7(978) 123-45-67" rel="me")
                            span.value +7 (978) 123-45-67