<form class="controls-field">
  <app-range-slider></app-range-slider>
  <ul class="select">
    <li class="select__item">
      <label for="">Сортировка:</label>
      <div class="select-by">
        <select name="">
          <option value="">Выберите критерий</option>
          <option value="">По наименованию</option>
          <option value="">По новизне</option>
          <option value="">По дате</option>
        </select>
      </div>
    </li>
    <li class="select__item">
      <label for="">Товаров на странице:</label>
      <div class="select-by"><select name="">
          <option value="">24</option>
          <option value="">24</option>
          <option value="">12</option>
          <option value="">4</option>
        </select></div>
    </li>
  </ul>
</form>
