<form class="controls-field">
  <app-range-slider></app-range-slider>
  <ul class="select">
    <li class="select__item">
      <label for="">Сортировка:</label>
      <div class="select-by">
        <p-dropdown name='selectedCriteria' [options]="criteria" [(ngModel)]="selectedCriteria">
        </p-dropdown>
      </div>
    </li>
    <li class="select__item">
      <label for="">Товаров на странице:</label>
      <div class="select-by">
        <p-dropdown name='selectedCriteriaPage' [options]="criteriaPage" [(ngModel)]="selectedCriteriaPage">
        </p-dropdown>
      </div>
    </li>
  </ul>
</form>
