<ul class="menu-header">
  <li class="menu__item mobile">
    <div class="input-search">
      <label class="search-label" for="">
        <input class="input" placeholder="Поиск по товарам">
        <span class="icons icon-search"></span>
      </label>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-check-status">
      <a class="menu__link" routerLink="/check-status">
        Проверить статус заказа
        <span class="icons icon-arrow"></span>
      </a>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-cart">
      <span class="icons" [ngClass]="{'icon-cart': localStoreService.counterCart === 0, 'icon-cart_active':
        localStoreService.counterCart > 0 }" routerLink="/cart"></span>
      <a class="menu__link" routerLink="/cart">Корзина</a>
      <span class="menu-cart__counter"
        [ngClass]='{"animated heartBeat" : controlsService.hasValueCart}'>{{localStoreService.counterCart}}</span>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-log-in">
      <button class="btn" ripple routerLink="/login">
        <span class="icons icon-user"></span>
        Вход
      </button>
    </div>
  </li>
</ul>
