<a class="product-link" routerLink="{{category}}/{{product.id}}">
  <figure class="product-item">
    <div class="product-item__img">
      <img src={{product.imgSrc}} alt='{{product.title}}' />
    </div>
    <figcaption class="product-item__desc">
      <p class="product-item__title overflow-ellipsis">{{product.title}}</p>
      <p class="product-item__price">{{product.price}}
        <span class="product-item__currency">{{product.currency}}</span>
      </p>
      <button class="btn" (click)='addToCart(product)'>В корзину</button>
    </figcaption>
  </figure>
</a>
