ul.checkout-order__address
    li.checkout-order__item
        +input('text', 'build', 'Город, улица, номер дома*', 'Пожалуйста заполните поле')
    li.checkout-order__item
        ul.inline-flex
            li.checkout-order__item
                +input('text', 'appartment', 'Кв/офис', 'Заполните поле')(class='input-sm')
            li.checkout-order__item
                +input('text', 'floor', 'Этаж', 'Заполните поле')(class='input-sm')
            li.checkout-order__item
                +input('text', 'entrance', 'Подъезд', 'Заполните поле')(class='input-sm')
    li.checkout-order__item
        .input-box
            textarea.input(name="", cols="10", rows="4")
            label.input-label(for='') Комментарий к заказу
            .helper-box
                span.txt-error Пожалуйста заполните поле