ul.checkout-order__receiver
    li.checkout-order__item
        +input('text', 'firstName', 'Имя*', 'Пожалуйста заполните поле')
    li.checkout-order__item
        +input('text', 'lastName', 'Фамилия*', 'Пожалуйста заполните поле')
    li.checkout-order__item
        +input('email', 'email', 'Электронная почта*', 'Пожалуйста заполните поле')
    li.checkout-order__item
        +input('tel', 'tel', 'Номер телефона*', 'Пожалуйста заполните поле')