.products-list
    +product-item('#','assets/img/products/chairs/ch-1.png', 'Cтул ханна','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-2.png', 'Cтул Эдинбург','5 690', '₽')
    +product-item('#','assets/img/products/chairs/ch-3.png', 'Cтул Сольер','2 390', '₽')
    +product-item('#','assets/img/products/chairs/ch-4.png', 'Cтул Стелла','3 500', '₽')
    +product-item('#','assets/img/products/chairs/ch-5.png', 'Cтул Бланес','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-6.png', 'Кресло Гоа','9 399', '₽')
    +product-item-2x('#','assets/img/products/chairs/household2x-7.png', 'Товары для дома со скидкой')
    +product-item('#','assets/img/products/chairs/ch-8.png', 'Кресло Мильтон','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-9.png', 'Кресло Рикардо','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-10.png', 'Cтул Версаль','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-11.png', 'Cтул Лина','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-12.png', 'Кресло Софья','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-13.png', 'Cтул Родос','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-14.png', 'Cтул Бетти','9 399', '₽')
    +product-item('#','assets/img/products/chairs/ch-15.png', 'Cтул Yohoho','4 003', '₽')