.controls-field
    .range-slider
        .range-values
            span.txt-color Цена
            input.input-min(type="number", name="rangeMinPrice", value='5300')
            span.txt-color —
            input.input-max(type="number", name="rangeMaxPrice", value='12900')
        .range-input
            .range-field
                .range-progress
                span.range-thumb-min
                span.range-thumb-max
    include ../select/select