.modal-box
    .modal
        form
            p.txt-modal Введите номер Вашего заказа и электронный адрес, указанный при его оформлении.
            .input-box
                input.input(type="text")
                label.input-label(for="") Номер заказа
                .helper-box
                    span.txt-error Пожалуйста заполните поле
            .input-box
                input.input(type="text")
                label.input-label(for="") Электронная почта
                .helper-box
                    span.txt-error Пожалуйста заполните поле
            button.btn-default.btn-block Проверить статус
                span.icons.icon-circle_arrow_white