<div class="detail-item">
  <div class="container">
    <div class="detail-item-gallery">
      <app-gallery></app-gallery>
    </div>
    <app-detail-check-container></app-detail-check-container>
    <article class="article">
      <header class="article-header">
        <p class="h4">Описание</p>
      </header>
      <section class="article-body">
        <p>Кресло Ханна — элегантное решение для кухни или столовой,выдержанной в современном
          стиле. Каркас модели выполнен из массива древесины, видимые элементы отделаны
          березовым шпоном и покрыты белой эмалью. Велюровая обивка приятна на ощупь, долго
          сохраняет опрятный вид и первоначальный цвет. Мягкое сиденье обеспечивает комфорт
          во время длительной трапезы или дружеской беседы за столом. Высокая спинка с легким
          изгибом позволяет принять удобное положение, расслабив спину.</p>
      </section>
    </article>
    <article class="article">
      <header class="article-header">
        <p class="h4">Материал обивки — ткань</p>
      </header>
      <section class="article-body">
        <p>Удовольствие от трапезы за кухонным столом во многом зависит от качества кухонных
          стульев.При выборе важно все, в том числе материал обивки. Кухонные стулья с
          тканевой обивкой сиденья и спинки практичны, комфортны и гигиеничны: текстиль
          приятен на ощупь, не способствует образованию конденсата при соприкосновении с
          телом, стоек к механическим повреждениям, долго сохраняет первоначальный вид.</p>
      </section>
    </article>
  </div>
</div>
