.gallery
    .gallery-stack
        a(href="").controls-arrow__up
            span.icons.icon-carousel_arrow
        ul.gallery-box
            li.active
                img(src="./assets/img/gallery/ch-g-sm-1.png", alt="")
            li
                img(src="./assets/img/gallery/ch-g-sm-2.png", alt="")
            li
                img(src="./assets/img/gallery/ch-g-sm-3.png", alt="")
            li
                img(src="./assets/img/gallery/ch-g-sm-4.png", alt="")
        a(href="").controls-arrow__down
            span.icons.icon-carousel_arrow
    .gallery-preview
        img(src="./assets/img/gallery/ch-g-big.png", alt="")