<app-breadcrumbs></app-breadcrumbs>
<div class="app-wrap">
  <div class="detail-item">
    <div class="container">
      <div class="detail-item-gallery">
        <p-galleria [images]="images" [activeIndex]='0' [showCaption]="false" [frameWidth]='50'>
        </p-galleria>
      </div>
      <div class="detail-check-container">
        <form>
          <fieldset>
            <div class="detail-desc">
              <h2 class="h2">{{titleItem}}</h2>
              <p class="detail-desc__code">
                Код товара
                <span>{{numIdItem}}</span>
              </p>
              <p class="detail-desc__stat" [ngClass]="{'detail-desc__stat--active' : hasValueItem}">
                <span class="detail-desc__indicator"></span>
                В наличии
              </p>
            </div>
            <div class="detail-count">
              <div class="app-wrap">
                <div class="detail-count__group">
                  <p class="detail-count__amount">{{priceItem}}
                    <span class="detail-count__currency">{{currencyItem}}</span>
                  </p>
                  <div class="input-counter">
                    <button class="control-minus" (click)='decrement()'>
                      <span class="sign"></span>
                    </button>
                    <input type='number' class="input" name="detailCountInput" [(ngModel)]='countItem' />
                    <button class="control-plus" (click)='increment()'>
                      <span class="sign"></span>
                      <span class="sign"></span>
                    </button>
                  </div>
                </div>
                <button class="btn-default btn-block" routerLink='/cart'>Купить</button>
                <p class="detail-transfer">
                  <span class="icons icon-transfer"></span>
                  {{deliveryItem}} доставка
                </p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <ng-container *ngIf='descTitleItem'>
        <article class="article" *ngFor='let article of descTitleItem;'>
          <header class="article-header">
            <p class="h4">{{article.title}}</p>
          </header>
          <section class="article-body">
            <p>{{article.text}}</p>
          </section>
        </article>
      </ng-container>
    </div>
  </div>
</div>