@import './_vars.scss';

.ticket {
    @extend %inline-flex-y--center;

    &__img {
        width: 20%;
        max-width: 100px;

        img {
            object-fit: contain;
        }
    }

    &__desc {
        margin-left: 30px;
    }

    &__title,
    &__order {
        font-family: $font-regular;
    }

    &__title {
        margin-bottom: 6px;
        color: $main-text-color;
        font-size: 1rem;
    }

    &__order {
        color: $default-text-color;
        font-size: 0.875rem;
    }

    &__number {
        margin-left: 6px;
    }
}