ul.buttons-list
    li: button.btn(disabled) (disabled)
    li: button.btn .btn
    li: button.btn.btn-block .btn-block
    li: button.btn-default .btn-default
    li: button.btn-block.btn-default .btn-block.btn-default