<a class="product-link" href="detail-item.html">
  <figure class="product-item">
    <div class="product-item__img">
      <img src="assets/img/products/chairs/ch-5.png" alt="Cтул Бланес" />
    </div>
    <figcaption class="product-item__desc">
      <p class="product-item__title overflow-ellipsis">Cтул Бланес</p>
      <p class="product-item__price">9 399
        <span class="product-item__currency">₽</span>
      </p>
      <button class="btn">В корзину</button>
    </figcaption>
  </figure>
</a>
