<ul class="checkout-order__receiver">
  <li class="checkout-order__item">
    <div class="input-box">
      <input class="input" name="firstName" ngModel>
      <label class="input-label" for="">Имя*</label>
      <div class="helper-box">
        <span class="txt-error">Пожалуйста заполните поле</span>
      </div>
    </div>
  </li>
  <li class="checkout-order__item">
    <div class="input-box">
      <input class="input" name="lastName" ngModel>
      <label class="input-label" for="">Фамилия*</label>
      <div class="helper-box">
        <span class="txt-error">Пожалуйста заполните поле</span>
      </div>
    </div>
  </li>
  <li class="checkout-order__item">
    <div class="input-box">
      <input class="input" type="email" name="email" ngModel>
      <label class="input-label" for="">Электронная почта*</label>
      <div class="helper-box">
        <span class="txt-error">Пожалуйста заполните поле</span>
      </div>
    </div>
  </li>
  <li class="checkout-order__item">
    <div class="input-box">
      <input class="input" type="tel" name="tel" ngModel>
      <label class="input-label" for="">Номер телефона*</label>
      <div class="helper-box">
        <span class="txt-error">Пожалуйста заполните поле</span>
      </div>
    </div>
  </li>
</ul>
