<div class="app-wrap">
  <div class="cart-checkout">
    <div class="container app-wrap">
      <app-cart></app-cart>
    </div>
    <div class="container app-wrap">
      <div class="form-checkout-order">
        <form>
          <fieldset>
            <h2 class="h2">Оформление заказа</h2>
            <p class="h3">Адрес доставки</p>
            <app-form-checkout-order-address></app-form-checkout-order-address>
            <p class="h3">Получатель</p>
            <app-form-checkout-order-receiver></app-form-checkout-order-receiver>
            <button class="btn-default btn-block" routerLink='/detail-order'>Оформить заказ</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
