<div class="cart cart-detail-order">
  <header class="cart-header">
    <p class="cart-detail-order__count">{{localStoreService.counterCart}} {{localStoreService.checkCounterFunc()}}</p>
  </header>
  <section class="cart-body">
    <ol class="cart-list">
      <li class="cart-list__item" *ngFor='let product of localStoreService.store;'>
        <figure class="ticket">
          <div class="ticket__img">
            <img src="{{product.imgSrc}}" alt="{{product.title}}">
          </div>
          <figcaption class="ticket__desc">
            <p class="ticket__title">{{product.title}}</p>
            <p class="ticket__order">Код товара
              <span class="ticket__number">{{product.numId}}</span>
            </p>
          </figcaption>
        </figure>
      </li>
    </ol>
  </section>
</div>
