.progress-road
    ul.progress-step
        li.progress-step__item.progress-step--active 1
        li.progress-step__item 2
        li.progress-step__item 3
    ul.progress-step__desc
        li.progress-step--active Подтверждение
        li Готовится к отправке
        li Отправлен