.progress-road
    ul.progress-step
        li.progress-step__item.progress-step--active
        li.progress-step__item
        li.progress-step__item
    ul.progress-step__desc
        li.progress-step--active
            span Подтверждение
        li
            span Готовится к отправке
        li
            span Отправлен