ul.menu-header
    li.menu__item.menu-check-status
        a.menu__link(href="order-status.html") Проверить статус заказа
            span.icons.icon-circle_arrow_darkblue
    li.menu__item.menu-cart
        span.icons.icon-cart
        a.menu__link(href="cart.html") Корзина
        span.menu-cart__counter 0
    li.menu__item.menu-log-in
        a(href="#").btn
            span.icons.icon-user
            | Вход