ul.menu.app-wrap
    li.menu__item
        span &copy; Все права защищены, 2019
    li.menu__item.phone
        p.phone-number 
            span.icons.icon-phone 
            | Техническая поддержка
        p.phone-number +7(499) 653-9-900
    li.menu__item.check-status
        a.menu__link(href="order-status.html") Проверить статус заказа
            span.icons.icon-circle_arrow_grey
    li.menu__item.log-in
        span.icons.icon-user
        a.menu__link(href="")
            | Войти в систему