<div class="cart">
  <header class="cart-header">
    <h2 class="h2">Корзина</h2>
  </header>
  <section class="cart-body">
    <ol class="cart-list">
      <li class="cart-list__item" *ngFor='let product of localStoreService.store; let index = i'>
        <app-ticket [product]='product' [id]='i'></app-ticket>
        <app-cart-controls [product]='product' [id]='i'></app-cart-controls>
      </li>
    </ol>
  </section>
  <footer class="cart-footer">
    <p class="cart-total">
      <span class="cart-total-items">{{localStoreService.store.length}}
        {{localStoreService.checkCounterFunc()}}</span>
    </p>
    <p class="cart-total-price">К оплате:
      <span class="cart-total-cash">{{totalSum}}</span>
      <span class="cart-total-currency">₽</span>
    </p>
  </footer>
</div>