<ul class="checkout-order__address">
  <li class="checkout-order__item">
    <div class="input-box">
      <input class="input" name="build">
      <label class="input-label" for="">Город, улица, номер дома*</label>
      <div class="helper-box">
        <span class="txt-error">Пожалуйста заполните поле</span>
      </div>
    </div>
  </li>
  <li class="checkout-order__item">
    <ul class="inline-flex">
      <li class="checkout-order__item">
        <div class="input-box input-sm">
          <input class="input input-sm" name="appartment">
          <label class="input-label" for="">Кв/офис</label>
          <div class="helper-box">
            <span class="txt-error">Заполните поле</span>
          </div>
        </div>
      </li>
      <li class="checkout-order__item">
        <div class="input-box input-sm">
          <input class="input input-sm" name="floor">
          <label class="input-label" for="">Этаж</label>
          <div class="helper-box">
            <span class="txt-error">Заполните поле</span></div>
        </div>
      </li>
      <li class="checkout-order__item">
        <div class="input-box input-sm">
          <input class="input input-sm" name="entrance">
          <label class="input-label" for="">Подъезд</label>
          <div class="helper-box">
            <span class="txt-error">Заполните поле</span>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <li class="checkout-order__item">
    <div class="input-box">
      <textarea class="input" name="" cols="10" rows="4"></textarea>
      <label class="input-label" for="">Комментарий к заказу</label>
      <div class="helper-box">
        <span class="txt-error">Пожалуйста заполните поле</span>
      </div>
    </div>
  </li>
</ul>
