nav.nav
    +navLink('index.html', 'Стулья и кресла')(class='active-link')
    +navLink('#', 'Кровати и матрасы')
    +navLink('#', 'Шкафы и комоды')
    +navLink('#', 'Мебель для кухни')
    +navLink('#', 'Товары для дома')