nav.nav
    +navLink('index.html', 'Стулья и Кресла')(class='active-link')
    +navLink('#', 'Кровати и Матрасы')
    +navLink('#', 'Шкафы и комоды')
    +navLink('#', 'Мебель для кухни')
    +navLink('#', 'Товары для дома')