nav.nav
    +navLink('chairs', 'Стулья и Кресла')(class='active-link')
    +navLink('beds', 'Кровати и Матрасы')
    +navLink('cupboard', 'Шкафы и комоды')
    +navLink('kitchen', 'Мебель для кухни')
    +navLink('household', 'Товары для дома')