nav.nav
    +navLink('chair','index.html', 'Стулья и кресла')(class='active-link')
    +navLink('bed','#', 'Кровати и матрасы')
    +navLink('cupboard','#', 'Шкафы и комоды')
    +navLink('kitchen','#', 'Мебель для кухни')
    +navLink('household','#', 'Товары для дома')