@import '_vars.scss';

.txt-error {
    color: $red;
}

.input-box {
    position: relative;

    .helper-box {
        visibility: hidden;
        opacity: 0;
    }

    &.has-value {

        .input+.input-label,
        .input-label {
            top: -4px;
            left: 0;
            transform: translateX(16px) translateY(0);
            font-size: 0.75rem;
        }
    }

    &.has-error {
        .input {
            border: 2px solid $error-input-outline-color;
        }

        .helper-box {
            @extend %flex;
            visibility: visible;
            opacity: 1;
        }

        .txt-error {
            font-size: 0.8125rem;
            line-height: 1.5rem;
            font-family: $font-regular;
        }
    }

    .input+.input-label,
    .input~.input-label {
        transition: 0.2s ease all;
        position: absolute;
        top: 26px;
        left: 33px;
        transform: translateY(-50%);
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $input-default-text-color;
    }

    .input:focus+.input-label,
    .input:focus~.input-label {
        top: -4px;
        left: 0;
        transform: translateX(16px) translateY(0);
        font-size: 0.75rem;
    }

    .input-label {
        pointer-events: none;
    }

    .input {
        width: 250px;
    }
}

input,
textarea,
select {
    padding: 10px 16px 12px;
    border-radius: 3px;
    background-color: $white;
    border: 2px solid $default-input-outline-color;
    color: $input-default-text-color;
    transition: all .2s linear;
    font-size: 0.875rem;
    font-family: $font-regular;

    &:hover {
        border: 2px solid $hover-input-outline-color;
    }

    &:focus {
        border: 2px solid $focus-input-outline-color;
    }

    &[disabled] {
        border: 2px solid $disabled-input-outline-color;
        background-color: $disabled-input-bg-color;

        &:hover {
            cursor: not-allowed;
        }
    }

    &:focus,
    &:required,
    &:valid {
        color: #101A46;
    }

    &:invalid,
    &:-moz-submit-invalid,
    &:-moz-ui-invalid {
        box-shadow: none;
    }
}