<div class="form-modal">
  <div class="container">
    <form>
      <fieldset>
        <p class="txt-modal">Введите номер Вашего заказа и электронный адрес, указанный при
          его оформлении.</p>
        <div class="input-box">
          <input class="input" name="numOrder">
          <label class="input-label" for="">Номер заказа</label>
          <div class="helper-box">
            <span class="txt-error">Пожалуйста заполните поле</span>
          </div>
        </div>
        <div class="input-box">
          <input class="input" type="email" name="emailOrder">
          <label class="input-label" for="">Электронная почта</label>
          <div class="helper-box">
            <span class="txt-error">Пожалуйста заполните поле</span>
          </div>
        </div>
        <button class="btn-default btn-block">
          Проверить статус
          <span class="icons icon-circle_arrow_white"></span>
        </button>
      </fieldset>
    </form>
  </div>
</div>
