.detail-item
    .container
        .detail-item-gallery
            include ../gallery/gallery
        .detail-check-container
            form
                fieldset
                    include ./detail-desc
                    include ./detail-count
        article.article
            header.article-header
                p.h4 Описание
            section.article-body
                p Кресло Ханна — элегантное решение для кухни или столовой,
                    | выдержанной в современном стиле. Каркас модели выполнен из массива древесины,
                    | видимые элементы отделаны березовым шпоном и покрыты белой эмалью.
                    | Велюровая обивка приятна на ощупь, долго сохраняет опрятный вид и первоначальный цвет.
                    | Мягкое сиденье обеспечивает комфорт во время длительной трапезы или дружеской беседы за столом.
                    | Высокая спинка с легким изгибом позволяет принять удобное положение, расслабив спину.
        article.article
            header.article-header
                p.h4 Материал обивки — ткань
            section.article-body
                p Удовольствие от трапезы за кухонным столом во многом зависит от качества кухонных стульев.
                    | При выборе важно все, в том числе материал обивки.
                    | Кухонные стулья с тканевой обивкой сиденья и спинки практичны, комфортны и гигиеничны:
                    | текстиль приятен на ощупь, не способствует образованию конденсата при соприкосновении с телом,
                    | стоек к механическим повреждениям, долго сохраняет первоначальный вид.