.detail-item
    form
        fieldset
            .detail-item-gallery
            .detail-check-container
                include ./detail-desc
                include ./detail-count
                