.detail-count
    .detail-count__group
        p.detail-count__amount 9 399
            span.detail-count__currency ₽
        include ../elements/input-counter
    button.btn-default.btn-block Купить
    p.detail-transfer
        span.icons.icon-transfer
        | Бесплатная доставка