@import '_vars.scss';

.menu-footer {
    @extend %flex-y--baseline;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid $white;
    width: 100%;

    .menu__item {
        color: $default-text-color;
        font-family: $font-regular;
        font-size: 0.875rem;

        .menu__link {
            color: inherit;

            &:hover {
                color: $white;
                cursor: pointer;
            }
        }

        &.menu-phone {
            p {
                @extend %flex-y--center;

                +p {
                    margin-top: 10px;
                }

                .icon-phone {
                    margin-right: 10px;
                }
            }

            p:nth-child(2) {
                padding-left: 24px;
                font-family: $font-bold;
                font-size: 1rem;
            }
        }

        &.menu-check-status {
            .icon-circle_arrow_grey {
                margin-left: 8px;
            }
        }

        &.menu-log-in {
            margin-right: 140px;
            @extend %flex-y--center;
        }

        .icon-user {
            margin-right: 10px;
        }
    }
}