@import '_vars.scss';

.menu-header,
.menu-check-status,
.menu-cart,
.menu-log-in {
    @extend %flex-y--center;
}

.menu {
    &-header {
        justify-content: flex-end;
        margin-left: auto;
    }

    &__item {
        @extend %flex;
    }

    &__link,
    &-log-in .btn {
        color: #272E49;
        font-family: $font-regular;
        font-size: 0.875rem;
    }

    &__link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &-log-in {
        margin-left: 3.75rem;

        .btn {
            .icon-user {
                margin-right: 0.4375rem;
            }
        }
    }

    &-check-status {
        .icon-circle_arrow_darkblue {
            margin-left: 0.5rem;
        }
    }

    &-cart {
        margin-left: 4.6875rem;

        &__counter {
            color: #142558;
            font-size: 0.6875rem;
            font-family: $font-bold;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #f6f6fa;
            @extend %flex-xy--center;
        }
    }
}