@import '_vars.scss';

%flex {
    display: flex;
}

%flex-x--center {
    display: flex;
    justify-content: center;
}

%flex-y--center {
    display: flex;
    align-items: center;
}

%flex-y--baseline {
    display: flex;
    align-items: baseline;
}

%flex-xy--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%inline-flex {
    display: inline-flex;
}

%inline-flex-y--center {
    display: inline-flex;
    align-items: center;
}

%inline-flex-x--center {
    display: inline-flex;
    justify-content: center;
}

%inline-flex-xy--center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

%inline-flex-y--baseline {
    display: inline-flex;
    align-items: baseline;
}


// classes

.h1 {
    font-size: 2.625rem;
    font-family: $font-bold;
    color: #202a57;
}

.h2 {
    font-size: 2rem;
    font-family: $font-bold;
    color: $dark-blue;
}

.txt-error {
    color: $red;
}

//attrs

[disabled] {
    color: $disabled-btn-text-color;
    border: 2px solid $disabled-btn-outline-color;

    &:hover {
        cursor: not-allowed;
    }
}