.icons {
  background: url('#{$path-img}/sprite/sprite.png') no-repeat top left;
  display: inline-block;
  vertical-align: top;
  display: inline-flex;

  &.icon-active_page {
    width: 80px;
    height: 80px;
    background-position: -10px -10px;
  }

  &.icon-arrow {
    width: 5px;
    height: 7px;
    background-position: -136px -78px;
  }

  &.icon-breadcrumbs_arrow {
    width: 6px;
    height: 8px;
    background-position: -110px -78px;
  }

  &.icon-carousel_arrow {
    width: 12px;
    height: 7px;
    background-position: -246px -145px;
  }

  &.icon-cart {
    width: 18px;
    height: 17px;
    background-position: -246px -10px;
  }

  &.icon-chevron_down {
    width: 10px;
    height: 6px;
    background-position: -246px -172px;
  }

  &.icon-circle_arrow_darkblue {
    width: 19px;
    height: 19px;
    background-position: -178px -78px;
  }

  &.icon-circle_arrow_grey {
    width: 19px;
    height: 19px;
    background-position: -178px -117px;
  }

  &.icon-circle_arrow_white {
    width: 19px;
    height: 19px;
    background-position: -10px -178px;
  }

  &.icon-next_pager {
    width: 48px;
    height: 48px;
    background-position: -110px -10px;
  }

  &.icon-next_arr_red {
    width: 6px;
    height: 10px;
    background-position: -217px -78px;
  }

  &.icon-next_pager {
    width: 48px;
    height: 48px;
    background-position: -10px -110px;
  }

  &.icon-next {
    width: 6px;
    height: 10px;
    background-position: -217px -117px;
  }

  &.icon-prev_page {
    width: 48px;
    height: 48px;
    background-position: -78px -110px;
  }

  &.icon-phone {
    width: 13px;
    height: 13px;
    background-position: -246px -47px;
  }

  &.icon-search {
    width: 13px;
    height: 13px;
    background-position: -246px -80px;
  }

  &.icon-transfer {
    width: 20px;
    height: 16px;
    background-position: -49px -178px;
  }

  &.icon-prev_pager {
    width: 48px;
    height: 48px;
    background-position: -178px -10px;
  }

  &.icon-user {
    width: 12px;
    height: 12px;
    background-position: -246px -113px;
  }
}