.icons {
    background: url('#{$path-img}/sprite/sprite1x.png') no-repeat top left;
    display: inline-block;
    vertical-align: top;
    display: inline-flex;

    &:hover {
        cursor: pointer;
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background: url('#{$path-img}/sprite/sprite2x.png') no-repeat top left;
        background-size: 139px 110px;
    }

    &.icon-active-page {
        background-position: 0 0;
        width: 48px;
        height: 48px;
    }

    &.icon-next_pager {
        background-position: -52px 0;
        width: 32px;
        height: 32px;
    }

    &.icon-next-pager {
        background-position: 0 -52px;
        width: 32px;
        height: 32px;
    }

    &.icon-prev_page {
        background-position: -36px -52px;
        width: 32px;
        height: 32px;
    }

    &.icon-prev-pager {
        background-position: -88px 0;
        width: 32px;
        height: 32px;
    }

    &.icon-circle-arrow-darkblue {
        background-position: -88px -36px;
        width: 18px;
        height: 18px;
    }

    &.icon-circle-arrow-grey {
        background-position: -88px -58px;
        width: 18px;
        height: 18px;
    }

    &.icon-circle-arrow-white {
        background-position: 0 -88px;
        width: 18px;
        height: 18px;
    }

    &.icon-cart {
        background-position: -22px -88px;
        width: 17px;
        height: 17px;
    }

    &.icon-transfer {
        background-position: -43px -88px;
        width: 18px;
        height: 16px;
    }

    &.icon-search {
        background-position: -65px -88px;
        width: 15px;
        height: 15px;
    }

    &.icon-phone {
        background-position: -84px -88px;
        width: 15px;
        height: 15px;
    }

    &.icon-user {
        background-position: -103px -88px;
        width: 14px;
        height: 14px;
    }

    &.icon-carousel-arrow {
        background-position: -52px -36px;
        width: 14px;
        height: 12px;
    }

    &.icon-next {
        background-position: -72px -52px;
        width: 11px;
        height: 13px;
    }

    &.icon-next-arr-red {
        background-position: -72px -69px;
        width: 11px;
        height: 13px;
    }

    &.icon-chevron-down {
        background-position: -70px -36px;
        width: 13px;
        height: 11px;
    }

    &.icon-arrow {
        background-position: -124px 0;
        width: 11px;
        height: 12px;
    }

    &.icon-breadcrumbs-arrow {
        background-position: -124px -16px;
        width: 11px;
        height: 12px;
    }
}