// path

$path-img: '../img';
$path-fonts: '../fonts/';

// fonts
$font-bold: 'PT_Root_UI_Bold';
$font-light: 'PT_Root_UI-Web-Light';
$font-medium: 'PT_Root_UI-Web-Medium';
$font-regular: 'PT_Root_UI-Web-Regular';

//font-family
$font-family: 'PT_ROOT_UI',
'PT Sans',
'Roboto',
'Helvetica',
'Courier New',
sans-serif;

// colors palette
$bg: #f5f8fa;
$footer-bg-color: #222328;
$red: #f54732;
$dark-blue: #142558;
$grey: #a1a8bd;
$light-grey: #e3e8f0;
$green: #44b759;
$cart-footer-bg-color: $grey;
$card-2x-size-bg:#c9d6e0;

// text-color
$main-text-color: $dark-blue;
$default-text-color: $grey;

// buttons-color
$default-btn-color: #f24841;
$hover-btn-color: #e93d35;
$active-btn-color: #db2d25;
$disabled-btn-color: $grey;

$default-btn-outline-color: $light-grey;
$hover-btn-outline-color: $default-btn-color;
$active-btn-outline-color: $active-btn-color;
$disabled-btn-outline-color: $light-grey;

//links
$default-link-color: #9096AF;
$hover-link-color: #fff;

// input-colors
$default-input-outline-color: $light-grey;
$blur-input-outline-color: $light-grey;
$disabled-input-outline-color: $light-grey;
$hover-input-outline-color: $grey;
$focus-input-outline-color: #315ad5;
$error-input-outline-color: $red;