@import './_vars.scss';

@import './_fonts.scss';

// @import './_helper.scss';

// @import './layout.scss';

@import './_default.scss';

@import './_myReset.scss';

@import './_media.scss';

h1 {
    color: red;
    font-family: 'PT_Root_UI_Bold';
    font-family: 'PT_Root_UI-Web-Light';
    font-family: 'PT_Root_UI-Web-Medium';
    font-family: 'PT_Root_UI-Web-Regular';
}