@import './_vars.scss';

@import './_layout.scss';

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder {
    color: $default-text-color;
}

body {
    background-color: $bg;
    font-family: $font-family;
    color: $main-text-color;
}

.app {

    .app-wrap {
        max-width: $wrapper-width;
        width: 100%;
        margin: 0 auto;
    }

    header {
        @import './components/header/_header.scss';

        .navigation {
            border-top: 1px solid #f0f2f7;
            border-bottom: 1px solid #f0f2f7;
            background-color: $white !important;

            @import './components/nav/_nav.scss';

            .nav {
                @extend %inline-flex;
            }

            .input-search {
                .input {
                    border-radius: 0;
                    border: 1px solid #f0f2f7;
                    border-top: none;
                    border-bottom: none;

                    &:focus,
                    &:hover {
                        border-left: 1px solid #f0f2f7;
                        border-right: 1px solid #f0f2f7;
                    }
                }
            }
        }
    }

    @import './components/breadcrumbs/_breadcrumbs.scss';

    .controls-field {
        background-color: $white;
        padding-top: 25px;
        padding-bottom: 18px;
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 50px;
        margin-bottom: 20px;
        border-radius: 5px;
        @extend %flex;
        justify-content: space-between;
        @import './components/range-slider/_range-slider.scss';
        @import './components/select/_select.scss';
    }

    main {

        @import './components/product-item/_product-item.scss';

        @import './components/pagination/_pagination.scss';

    }

    footer {
        @import './components/footer/_footer.scss';
    }
}

@import './_media.scss';