<div class="gallery">
  <div class="gallery-stack">
    <a class="controls-arrow__up" href="">
      <span class="icons icon-carousel_arrow"></span>
    </a>
    <ul class="gallery-box">
      <li class="active">
        <img src="./assets/img/gallery/ch-g-sm-1.png" alt="">
      </li>
      <li>
        <img src="./assets/img/gallery/ch-g-sm-2.png" alt="">
      </li>
      <li>
        <img src="./assets/img/gallery/ch-g-sm-3.png" alt="">
      </li>
      <li>
        <img src="./assets/img/gallery/ch-g-sm-4.png" alt="">
      </li>
    </ul>
    <a class="controls-arrow__down" href="">
      <span class="icons icon-carousel_arrow"></span>
    </a>
  </div>
  <div class="gallery-preview">
    <img src="./assets/img/gallery/ch-g-big.png" alt="">
  </div>
</div>
