<ul class="menu-footer">
  <li class="menu__item">
    <p class="copyright">&copy; Все права защищены, 2019</p>
  </li>
  <li class="menu__item">
    <div class="menu-phone">
      <p class="title">
        <span class="icons icon-phone"></span>
        Техническая поддержка
      </p>
      <p class="tel">
        <a class="url" href="tel:+7(499) 653-9-900">
          <span class="value">+7(499) 653-9-900</span>
        </a>
      </p>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-check-status">
      <a class="menu__link" routerLink="check-status">
        Проверить статус заказа
        <span class="icons icon-circle_arrow_grey"></span>
      </a>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-log-in">
      <span class="icons icon-user"></span>
      <a class="menu__link" href="">Войти в систему</a>
    </div>
  </li>
</ul>
