ul.select
    li.select__item
        label(for="") Сортировка:
        select(name="")
            option(value="") По наименованию
            option(value="") По новизне
        span.icons.icon-chevron_down
    li.select__item
        label(for="") Товаров на странице:
        select(name="")
            option(value="") 24
        span.icons.icon-chevron_down