ul.select
    li.select__item
        label(for="") Сортировка:
        .select-by
            select(name="")
                option(value="") Выберите критерий
                option(value="") По наименованию
                option(value="") По новизне
                option(value="") По дате
    li.select__item
        label(for="") Товаров на странице:
        .select-by
            select(name="")
                option(value="") 24
                option(value="") 24
                option(value="") 12
                option(value="") 4