.footer
    .app-wrap
        ul.footer-box
            li.footer-box__item
                include ../logo/logo_footer
            li.footer-box__item
                include ../slots/copyright
        .top-footer
            .navigation
                include ../nav/nav
        include ../menu/menu-footer