<div class="detail-status-order">
  <h2 class="h2">Проверить статус заказа</h2>
  <div class="container">
    <div class="order-status-detail__header">
      <app-detail-status-order-header></app-detail-status-order-header>
    </div>
    <div class="order-status-detail__body">
      <app-progress-road></app-progress-road>
      <app-cart-detail-order [product]='product' [id]='i'></app-cart-detail-order>
    </div>
    <div class="order-status-detail__footer">
      <app-detail-status-order-footer></app-detail-status-order-footer>
    </div>
  </div>
</div>
