ul.cart-controls
    li.ticket__price
        span 9 399 ₽
    li.ticket__counter
        include ../elements/input-counter
    li.ticket__total-price
        span 9 399 ₽
    li.ticket__close
        include ../elements/btn-close