@import './../../_vars.scss';

.cart-controls {
  @extend %flex-y--center;

  li {
    font-size: 1.125rem;
    line-height: 1.3125rem;
    font-family: $font-bold;

    + li {
      margin-left: 36px;
    }

    .input-counter {
      .input {
        font-size: 1rem;
      }
    }
  }
}
