<ul class="menu-header">
  <li class="menu__item mobile">
    <div class="input-search">
      <label class="search-label" for="">
        <input class="input" placeholder="Поиск по товарам">
        <span class="icons icon-search"></span>
      </label>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-check-status">
      <a class="menu__link" routerLink="order-status">
        Проверить статус заказа
        <span class="icons icon-arrow"></span>
      </a>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-cart">
      <span class="icons icon-cart"></span>
      <a class="menu__link" routerLink="cart">Корзина</a>
      <span class="menu-cart__counter">0</span>
    </div>
  </li>
  <li class="menu__item">
    <div class="menu-log-in">
      <a class="btn" href="#">
        <span class="icons icon-user"></span>
        Вход
      </a>
    </div>
  </li>
</ul>
