<div class="preview-product">
  <div class="app-wrap">
    <ng-container [ngSwitch]="category">
      <h1 class="h1" *ngSwitchCase="'/chairs'">Стулья и кресла</h1>
      <h1 class="h1" *ngSwitchCase="'/beds'">Кровати и матрасы</h1>
      <h1 class="h1" *ngSwitchCase="'/cupboards'">Шкафы и комоды</h1>
      <h1 class="h1" *ngSwitchCase="'/kitchens'">Мебель для кухни</h1>
      <h1 class="h1" *ngSwitchCase="'/households'">Товары для дома</h1>
      <h1 class="h1" *ngSwitchDefault>Стулья и кресла</h1>
    </ng-container>
    <ng-container [ngSwitch]="category">
      <img *ngSwitchCase="'/chairs'" src="assets/img/products/chairs/chair-preview.png" alt="Стулья и кресла" />
      <img *ngSwitchCase="'/beds'" src="https://via.placeholder.com/271x217" alt="Кровати и матрасы" />
      <img *ngSwitchCase="'/cupboards'" src="https://via.placeholder.com/271x217" alt="Шкафы и комоды" />
      <img *ngSwitchCase="'/kitchens'" src="https://via.placeholder.com/271x217" alt="Мебель для кухни" />
      <img *ngSwitchCase="'/households'" src="https://via.placeholder.com/271x217" alt="Товары для дома" />
      <img *ngSwitchDefault src="assets/img/products/chairs/chair-preview.png" alt="Стулья и кресла" />
    </ng-container>
  </div>
</div>
