@import './_vars.scss';

.detail-status-order {
    margin-bottom: 120px;

    .h2 {
        letter-spacing: 2px;
        margin-bottom: 44px;
    }

    .container {
        max-width: 576px;
        width: 100%;
        padding: 38px 32px 55px 40px;
        margin: 0 auto;

        .order-status-detail__header {
            @extend %flex;
            justify-content: space-between;
            margin-bottom: 11px;

            .order-status-detail__info {
                margin-bottom: 15px;
                @extend %inline-flex;
                flex-direction: column;

                .h3 {
                    margin-bottom: 14px;

                    span {
                        margin-left: 7px;
                    }
                }

                .date {
                    span {
                        margin-left: 9px;
                    }
                }
            }

            .order-status-detail__link {
                color: $red;
                font-family: $font-bold;
                font-size: 1rem;
                line-height: 1.3125rem;
            }
        }

        .order-status-detail__body {
            @import '../progress-road/_progress-road.scss';

            .progress-road {
                border-top: 1px solid #f0f2f7;
            }

            @import '../cart/_cart.scss';

            .cart {
                border-radius: 0px;
                margin-bottom: 0px;
            }
        }

        .order-status-detail__footer {
            .article {
                margin-top: 8px;

                .article-header {
                    margin-bottom: 7px;

                    .h4 {
                        letter-spacing: 1.2px;
                    }
                }

                +.article {
                    margin-top: 30px;
                }
            }
        }

    }



}