extends layouts/layout

block content
    //- include ./components/elements/buttons
    //- include ./components/elements/inputs
    //- include ./components/elements/input-counter
    //- include ./components/elements/input-search