extends layouts/layout

block content
    .app-wrap
        //- include ./components/elements/buttons
        //- include ./components/elements/inputs
        //- include ./components/elements/input-counter
        //- include ./components/elements/input-search
        //- include ./components/pagination/pagination
        .products-list
            include ./components/product-item/product-item