.form-checkout-order
    form
        fieldset
            h2.h2 Оформление заказа
            p Адрес доставки
            include form-checkout-order/checkout-order__address
            p Получатель
            include form-checkout-order/checkout-order__receiver
            button.btn-default.btn-block Оформить заказ