@import '_vars.scss';

.cart {
    border-radius: 5px;
    margin-bottom: 36px;

    &.cart-detail-order {
        .cart-header {
            .date {
                font-family: $font-bold;
                font-size: 1rem;
                line-height: 1.3125rem;
                color: $dark-blue;
            }

            .cart-detail-order__count {
                font-family: $font-bold;
                font-size: 1rem;
                line-height: 1.3125rem;
                color: $dark-blue;
                margin-bottom: 10px;
            }
        }

        .cart-body {
            padding-left: 0;
            padding-right: 0;

            .cart-list {
                .cart__item {
                    .cart-ticket-desc {
                        margin-left: 41px;
                    }

                    &:last-child {
                        border-bottom: 1px solid #f0f2f7;
                    }
                }
            }
        }
    }

    .cart-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .h2 {
            padding-top: 44px;
            padding-left: 46px;
            padding-bottom: 36px;
        }
    }

    .cart-body {

        padding-left: 44px;
        padding-right: 44px;

        .cart-list {
            @extend %flex;
            flex-direction: column;
            padding-bottom: 20px;

            .cart__item {
                @extend %flex-y--center;
                justify-content: space-between;
                height: 100px;
                border-top: 1px solid #f0f2f7;

                +.cart__item {}
            }
        }

        @import '../ticket/_ticket.scss';

        @import '_cart-controls.scss';
    }

    .cart-footer {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #e3eaef;
        padding: 36px 36px 36px 64px;
        @extend %flex-y--center;
        justify-content: space-between;

        .cart-total {
            color: #79848f;
            font-family: $font-medium;
            font-size: 1.125rem;

            .cart-total-items {
                margin-right: 6px;
            }
        }

        .cart-total-price {
            font-size: 1.5rem;
            color: $main-text-color;
            font-family: $font-bold;

            .cart-total-cash {
                margin-left: 10px;
            }

            .cart-total-currency {
                margin-left: 6px;
            }
        }
    }
}