ul.menu
    li.menu__item.check-status
        a.menu__link(href="") Проверить статус заказа
            span.icons.icon-circle_arrow_darkblue
    li.menu__item.cart
        span.icons.icon-cart
        a.menu__link(href="") Корзина
        span.cart-counter 0
    li.menu__item.log-in
        button.btn
            span.icons.icon-user
            | Вход