@import '_vars.scss';

.header {
	@extend %flex;
	background-color: $white;
	padding-top: 0.75rem;
	padding-bottom: 1.125rem;

	.btn-burger {
		margin-right: 1rem;
		display: none;
	}

	&-cart {
		.app-wrap {
			justify-content: space-between;
		}
	}

	.app-wrap {
		@extend %flex-y--center;
	}

	.phone-number {
		margin-left: 66px;
	}

	@import './components/menu/_menu-header.scss';
}