ul.breadcrumbs
    li
        a(href="") Главная
        span.icons.icon-breadcrumbs_arrow
    li
        a(href="") Стулья и Кресла
        span.icons.icon-breadcrumbs_arrow
    li.active
        a(href="") Кресло Ханна