@import './_vars.scss';

.form-checkout-order {

    @extend %flex;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 90px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 56px;

    form {
        @extend %flex-x--center;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: $white;
        max-width: 450px;
        border-radius: 5px;
        width: 100%;

        fieldset {

            .h2 {
                margin-bottom: 42px;
            }

            p {
                font-size: 1.25rem;
                font-family: $font-bold;
                color: $dark-blue;
                margin-bottom: 27px;
            }

            .checkout-order__address {
                .checkout-order__item {
                    .inline-flex {
                        .checkout-order__item {
                            +.checkout-order__item {
                                margin-left: 20px;
                            }
                        }

                        .input-box {
                            width: 100px;
                        }
                    }
                }
            }

            .input-box {
                .input {
                    width: 100%;

                    &.input-sm {
                        width: 100px;
                    }
                }

                .helper-box {
                    .txt-error {
                        line-height: 1;
                    }
                }
            }

            .btn-default {
                padding-top: 16px;
                padding-bottom: 18px;
                font-family: $font-bold;
                margin-top: 40px;
            }
        }
    }
}