- var nameTitle = 'Marketplace';

<!doctype html>
html(lang="ru")
    head
        include ../includes/meta
        title #{nameTitle}
    body
        .page
            header
                include ../components/header
            main
                block content
            footer
                include ../components/footer