<div class="pagination">
  <nav class="pager-prev">
    <a class="pager-double-arrow" href="">
      <span class="icons icon-next"></span>
      <span class="icons icon-next"></span>
    </a>
    <a class="pager-single-arrow" href="">
      <span class="icons icon-next"></span>
    </a>
  </nav>
  <ul class="pager">
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li class="active"><a href="">4</a></li>
    <li><a href="">5</a></li>
    <li><a href="">6</a></li>
    <li><a href="">7</a></li>
    <li><a href="">8</a></li>
  </ul>
  <nav class="pager-next">
    <a class="pager-single-arrow" href="">
      <span class="icons icon-next"></span>
    </a>
    <a class="pager-double-arrow" href="">
      <span class="icons icon-next"></span>
      <span class="icons icon-next"></span>
    </a>
  </nav>
</div>
