<div class="pagination">
  <nav class="pager-prev">
    <a class="pager-double-arrow" routerLink='/'>
      <span class="icons icon-next"></span>
      <span class="icons icon-next"></span>
    </a>
    <a class="pager-single-arrow" routerLink='/'>
      <span class="icons icon-next"></span>
    </a>
  </nav>
  <ul class="pager">
    <li><a routerLink='/'>1</a></li>
    <li><a routerLink='/'>2</a></li>
    <li><a routerLink='/'>3</a></li>
    <li class="active"><a routerLink='/'>4</a></li>
    <li><a routerLink='/'>5</a></li>
    <li><a routerLink='/'>6</a></li>
    <li><a routerLink='/'>7</a></li>
    <li><a routerLink='/'>8</a></li>
  </ul>
  <nav class="pager-next">
    <a class="pager-single-arrow" routerLink='/'>
      <span class="icons icon-next"></span>
    </a>
    <a class="pager-double-arrow" routerLink='/'>
      <span class="icons icon-next"></span>
      <span class="icons icon-next"></span>
    </a>
  </nav>
</div>
